#row-top {
    background-color: yellow;
    width: 100%;
    height: 10vh;
    align-items: stretch;
    display: flex;
    text-align: center;
    float: left;
    border: 2px solid black;
}

#container-top-left {
    color: black;
    background-color: gray;
    width: 80%;
    border-right: solid 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-top-right {
    color: black;
    background-color: coral;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#row-top:after {
    content: "";
    display: block;
    clear: both;
}


/* ------------------------------------------------ */

#row-middle {
    background-color: cornsilk;
    width: 100%;
    height: 86vh;
    display: flex;
    text-align: center;
    float: left;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#container-middle-left {
    color: black;
    background-color: pink;
    width: 40%;
    border-right: 2px solid black;
    overflow-y: scroll;
}

#container-middle {
    color: black;
    background-color: lightblue;
    width: 40%;
    align-items: center;
    overflow: hidden;
}

#container-middle-right {
    color: black;
    background-color: red;
    width: 20%;
    border-left: 2px solid black;
    overflow-y: scroll;
}

#row-middle:after {
    content: "";
    display: block;
    clear: both;
}


/* ------------------------------------------------ */

.footer {
    background-color: cornsilk;
    width: 100%;
    height: 3vh;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid black;
}


/* ------------------------------------------------ */

html,
body {
    background-color: transparent;
    margin: 0;
    height: 100%;
    overflow-x: clip;
}

#content {
    display: flex;
    flex-flow: column;
    height: 100%;
    align-items: stretch;
}

#coin {
    padding-top: 10%;
    width: 300px;
    justify-content: center;
}


/* ------------------------------------------------ */

#ressourceProductionContainer {
    padding-left: 5%;
    text-align: left;
    display: flex;
    border-bottom: 2px solid black;
    align-items: center;
    justify-content: left;
    gap: 50px;
}

#resourceIcon {
    height: 40px;
    width: 40px;
}


/* ------------------------------------------------ */

#buyRessourceProductionContainer {
    padding-left: 5%;
    text-align: left;
    display: flex;
    border-bottom: 2px solid black;
    align-items: center;
    justify-content: left;
    gap: 50px;
}

#resourceBuyIcon {
    height: 40px;
    width: 40px;
}

#container-middle-right-Title {
    position: fixed;
    border-bottom: 2px solid black;
    background-color: green;
}

#container-middle-left-Title {
    position: fixed;
    border-bottom: 2px solid black;
    background-color: yellow;
    width: 39.9%;
    text-align: center;
}

#buyRessourceProduction {
    margin-top: 130px;
}

#ressourceProduction {
    margin-top: 80px;
}